.img-thumbnail{
max-width: 70px !important;
} 
.list{
	    padding-top: .7rem!important;
    padding-left: .30rem !important;
}

.list1{
	 padding-right:250px !important;
}

.h6{ color: 	rgb(128, 255, 0) !important;
	 font-size: 30px !important;

}


.select.{
	width: 50px !important;
}
























